*~
.*~
\#*\#
.\#*
*.zip
userscript/save-chatgpt-as-pdf.all.user.js



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

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